<div id="cookie-banner" style="display: none;" class="fixed bottom-4 right-4 z-50 w-[320px] rounded-2xl bg-white shadow-md p-6">
  <h5 class="text-sm font-semibold mb-2 text-zinc-700">Tu privacidad es importante</h5>

  <p class="text-sm text-zinc-700 mb-4">
    Usamos cookies para mejorar la experiencia de usuario. Consulta nuestra
    <a href="/privacy" class="underline hover:text-[#634647]">política de privacidad</a>.
  </p>

  <button
    id="cookie-accept-btn"
    class="block w-full rounded-lg text-sm font-semibold py-2 px-4 text-[#634647] bg-[#ddad81] hover:bg-[#634647] hover:text-[#ddad81] transition"
  >
    Aceptar
  </button>
</div>
