<div class="home-container">
    <!-- Sección Hero -->
    <section class="hero section" data-section="hero">
        <h1>Bienvenido a DataView</h1>
        <p>Transforma tus datos en visualizaciones interactivas de forma sencilla.</p>
        <a href="#upload" class="hero_btn">Sube tu archivo</a>
    </section>

    <!-- Sección de Características -->
    <section class="feat section" data-section="features">
        <h2>Características</h2>
        <div class="feature-item">
            <h3>Gráficos Interactivos</h3>
            <p>Visualiza y personaliza tus datos de forma dinámica.</p>
        </div>
        <div class="feature-item">
            <h3>Fácil de Usar</h3>
            <p>No necesitas ser un experto en tecnología para usar DataView.</p>
        </div>
        <div class="feature-item">
            <h3>Seguridad</h3>
            <p>Garantizamos la privacidad de tus datos con una plataforma segura.</p>
        </div>
    </section>

    <!-- Sección de Testimonios -->
    <section class="test section" data-section="testimonials">
        <h2>Testimonios</h2>
        <blockquote>"DataView hizo que el análisis de mis datos fuera más fácil y visual. ¡Lo recomiendo!"</blockquote>
        <p>- Ana Gómez, Analista de Datos</p>
        <blockquote>"La interfaz es simple y las gráficas interactivas son poderosas. Me encanta." </blockquote>
        <p>- Luis Rodríguez, Científico de Datos</p>
    </section>

    <!-- Sección de CTA -->
    <section class="cta section" data-section="cta">
        <h2>Explora gráficas</h2>
        <p>Explora aquí.</p>
    </section>

    <!-- Sección Sobre Nosotros -->
    <section class="about section" data-section="about">
        <h2>Quiénes somos</h2>
        <p>DataView es una plataforma dedicada a la visualización de datos interactivos, creada para que cualquier persona, independientemente de su experiencia técnica, pueda transformar sus datos en gráficos claros y fáciles de entender.</p>
    </section>

    <!-- Sección de Contacto -->
    <section class="cont section" data-section="cont">
        <h2>Contáctanos</h2>
        <p>¿Tienes alguna duda o sugerencia? ¡Contáctanos!</p>
        <a href="mailto:dataview@gmail.com" class="btn-primary">Enviar un correo</a>
    </section>
</div>
