<h2>Nuevo mensaje del formulario de contacto</h2>
<p><strong>Nombre:</strong> <%= @first_name %> <%= @last_name %></p>
<p><strong>Email:</strong> <%= @email %></p>
<p><strong>Mensaje:</strong></p>
<p><%= @message %></p>