/* Estilos para la cabecera, pie de pagina, notificaciones/alertas y cookies */

/* Restablecer el box-sizing globalmente para todo el contenido */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------- CABECERA --------- */
.hed {
    background-color: #000000;
    padding: 15px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.hed_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.hed_logo {
    display: flex;
    align-items: center;
    height: 60px;
    width: auto;
}

.hed_nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.hed_nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s, transform 0.2s;
    font-family: "Arial Narrow";
}

.hed_nav a:hover {
    color: #f5a623;
    transform: scale(1.05);
}
 
.hed-btn {
  --primary-color: #aba938;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.hed-btn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hed-btn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.hed-btn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.hed-btn:hover {
  background-color: var(--hover-color);
}

.hed-btn:hover .arrow {
  background: var(--secondary-color);
}

.hed-btn:hover .arrow:before {
  right: 0;
}

/* Estilos del enlace del menú de usuario */
.user-link {
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  display: inline-block;
  transition: color 0.3s;
  font-size: 16px;
}

.user-link::after {
  content: "  ▼";
  font-size: 12px; /* Reducir tamaño de la flecha */
  vertical-align: middle;
}


.user-link:hover {
  color: #ccc;
}

/* Ajustar el menú desplegable */
.user-menu {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: #1a1a1a;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  list-style: none;
  padding: 5px 0;
  z-index: 1000;
}

.dropdown li {
  padding: 10px;
  text-align: center;
}

.dropdown li a {
  text-decoration: none;
  color: white;
  display: block;
  transition: background 0.3s, color 0.3s;
}

.dropdown li:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Mostrar el menú al pasar el cursor */
.user-menu:hover .dropdown {
  display: block;
}


/* --------- FOOTER --------- */
.fot {
  width: 100%;             
  position: relative;      
  bottom: 0;
  left: 0;
  background-color: #000000;
  color: white;            
  text-align: center;      
  padding: 20px 0;         
  margin-top: 20px;        
}

.fot p {
  font-size: 16px;
  opacity: 0.8;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
  margin-bottom: 15px; /* Espacio entre los enlaces y el texto "DataView" */
}

.footer-links li {
  display: inline;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* From Uiverse.io by vinodjangid07 */ 
.card-sw {
  width: fit-content;
  height: fit-content;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* --------- ALERTAS --------- */
/* Notification container */
.notification-container {
  /* Position top left */

  position: fixed;
  top: 15%;
  left: 2%;
  z-index: 1000;
  max-width: 80%;

  --content-color: black;
  --background-color: #f3f3f3;
  --font-size-content: 0.75em;
  --icon-size: 1em;

  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style-type: none;
  font-family: sans-serif;
  color: var(--content-color);
}

/* Notification Item */
.notification-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  overflow: hidden;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: rgba(111, 111, 111, 0.2) 0px 8px 24px;
  background-color: var(--background-color);
  transition: all 250ms ease;
  /* Background Pattern */
  --grid-color: rgba(225, 225, 225, 0.7);
  background-image: linear-gradient(
      0deg,
      transparent 23%,
      var(--grid-color) 24%,
      var(--grid-color) 25%,
      transparent 26%,
      transparent 73%,
      var(--grid-color) 74%,
      var(--grid-color) 75%,
      transparent 76%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 23%,
      var(--grid-color) 24%,
      var(--grid-color) 25%,
      transparent 26%,
      transparent 73%,
      var(--grid-color) 74%,
      var(--grid-color) 75%,
      transparent 76%,
      transparent
    );
  background-size: 55px 55px;
}

.notification-item svg {
  transition: 250ms ease;
}

.notification-item:hover {
  transform: scale(1.01);
}

.notification-item:active {
  transform: scale(1.05);
}

.notification-item .notification-close:hover {
  background-color: rgba(204, 204, 204, 0.45);
}

.notification-item .notification-close:hover svg {
  color: rgb(0, 0, 0);
}

.notification-item .notification-close:active svg {
  transform: scale(1.1);
}

/* Iconos de notificacion */
.notification-item .notification-close {
  padding: 2px;
  border-radius: 5px;
  transition: all 250ms;
}

.notification-container svg {
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--content-color);
}

.notification-icon {
  display: flex;
  align-items: center;
}

/* Success */
.success {
  color: #047857;
  background-color: #7dffbc;
  --grid-color: rgba(16, 185, 129, 0.25);
  background-image: linear-gradient(
      0deg,
      transparent 23%,
      var(--grid-color) 24%,
      var(--grid-color) 25%,
      transparent 26%,
      transparent 73%,
      var(--grid-color) 74%,
      var(--grid-color) 75%,
      transparent 76%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 23%,
      var(--grid-color) 24%,
      var(--grid-color) 25%,
      transparent 26%,
      transparent 73%,
      var(--grid-color) 74%,
      var(--grid-color) 75%,
      transparent 76%,
      transparent
    );
}

.success svg {
  color: #047857;
}

.success .notification-progress-bar {
  background-color: #047857;
}

.success:hover {
  background-color: #5bffaa;
}

/* Info */
.info {
  color: #1e3a8a;
  background-color: #7eb8ff;
  --grid-color: rgba(59, 131, 246, 0.25);
  background-image: linear-gradient(
      0deg,
      transparent 23%,
      var(--grid-color) 24%,
      var(--grid-color) 25%,
      transparent 26%,
      transparent 73%,
      var(--grid-color) 74%,
      var(--grid-color) 75%,
      transparent 76%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 23%,
      var(--grid-color) 24%,
      var(--grid-color) 25%,
      transparent 26%,
      transparent 73%,
      var(--grid-color) 74%,
      var(--grid-color) 75%,
      transparent 76%,
      transparent
    );
}

.info svg {
  color: #1e3a8a;
}

.info .notification-progress-bar {
  background-color: #1e3a8a;
}

.info:hover {
  background-color: #5ba5ff;
}

/* Warning */
.warning {
  color: #78350f;
  background-color: #ffe57e;
  --grid-color: rgba(245, 159, 11, 0.25);
  background-image: linear-gradient(
      0deg,
      transparent 23%,
      var(--grid-color) 24%,
      var(--grid-color) 25%,
      transparent 26%,
      transparent 73%,
      var(--grid-color) 74%,
      var(--grid-color) 75%,
      transparent 76%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 23%,
      var(--grid-color) 24%,
      var(--grid-color) 25%,
      transparent 26%,
      transparent 73%,
      var(--grid-color) 74%,
      var(--grid-color) 75%,
      transparent 76%,
      transparent
    );
}

.warning svg {
  color: #78350f;
}

.warning .notification-progress-bar {
  background-color: #78350f;
}

.warning:hover {
  background-color: #ffde59;
}

/* Error */
.error {
  color: #7f1d1d;
  background-color: #ff7e7e;
  --grid-color: rgba(239, 68, 68, 0.25);
  background-image: linear-gradient(
      0deg,
      transparent 23%,
      var(--grid-color) 24%,
      var(--grid-color) 25%,
      transparent 26%,
      transparent 73%,
      var(--grid-color) 74%,
      var(--grid-color) 75%,
      transparent 76%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 23%,
      var(--grid-color) 24%,
      var(--grid-color) 25%,
      transparent 26%,
      transparent 73%,
      var(--grid-color) 74%,
      var(--grid-color) 75%,
      transparent 76%,
      transparent
    );
}

.error svg {
  color: #7f1d1d;
}

.error .notification-progress-bar {
  background-color: #7f1d1d;
}

.error:hover {
  background-color: #ff5f5f;
}

/* Notification content */
.notification-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.notification-text {
  font-size: var(--font-size-content);
  user-select: none;
}

.notification-close {
  cursor: pointer;
}

/* Notification progress bar */
.notification-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background: var(--content-color);
  width: 100%;
  transform: translateX(100%);
  animation: progressBar 5s linear forwards infinite;
}

/* progressBar Animation */
@keyframes progressBar {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}


/*
 *= require_self
 *= require home
 *= require devise
 */
