<header class="hed">
  <div class="hed_div">
    
    <a href="/" class="hed_logo">
      <img src="/logo_dv.png" alt="DataView Logo" class="hed_logo">
    </a>

    <nav class="hed_nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Ejemplos</a></li>
        <li><a href="#">Manual</a></li>

        <% if user_signed_in? %>
          <li><a href="#">Subir Datos</a></li>
          <li><a href="#">Mis Archivos</a></li>
        <% end %>

        <li><%= link_to "Contacto", contact_path %></li>

      </ul>
    </nav>

    <% if user_signed_in? %>
        <a href="<%= destroy_user_session_path %>" data-method="delete" class="hed_btn">Cerrar Sesión</a>
    <% else %>
        <a href="<%= new_user_session_path %>" class="hed_btn">Iniciar Sesión</a>
    <% end %>

  </div>
</header>
